@import "styles/variaveis";
@import "styles/breakpoints";

.cardapio {
  padding: 0px $padding-horizontal;

  @media (max-width: $mobile) {
    padding: 0px $padding-pequeno;
  }
  @media (min-width: $mobile) and (max-width: $desktop_xsm) {
    padding: 0px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding:0px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 0px $padding-horizontal-md;
  }

  display: flex;
  flex-flow: row wrap;
  justify-content: left;


  &__titulo {
    color: $dark;
    font-size: 3rem;
    margin-bottom: 30px;
  }
  &__filtros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}